.Information {
  display: grid;
  grid-template-columns: 1fr 17rem;
  gap: 1rem;
  max-width: 850px;
  margin: 0 auto;
  margin-bottom: 1rem;
  .Information-form {
    input {
      width: 100%;
      padding: .8rem;
      margin: .4rem 0;
      border: 2px solid @color-white;
    }
  }
  .Information-sidebar {
    grid-column: 2;
    grid-row: 1;
    max-height: 35rem;
    overflow: auto;
  }
  .Information-buttons {
    position: relative;
    a:nth-last-child(even) {
      position: absolute;
      right: 0;
    }
  }
  &-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid;
  }
}